<!DOCTYPE html>
<html lang="en" data-ng-app="app">
  <head>
    <title>Controladoeres</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">   
  </head>
  <body ng-controller="ControladorTareas">
    <h2>Lista de Tareas</h2>
    <div>
      <span>{{restantes()}} de {{tareas.length}}</span>
      [<a class="text-danger" href="" ng-click="eliminar()">eliminar</a>]
      <ul class="unstyled">
        <li ng-repeat="tarea in tareas">
          <input type="checkbox" ng-model="tarea.hecho">
          <span class="hecho-{{tarea.hecho}}">{{tarea.texto}}</span>
        </li>
      </ul>
      <form ng-submit="agregarTarea()">
        <input type="text" size="30" placeholder="Agregar Tarea" ng-model="textoNuevaTarea">
        <button class="btn btn-primary" type="submit">Agregar</button>
      </form>
    </div>
<!-- jQuery -->
  <script src="vendor/jquery/jquery.min.js"></script>

  <!-- Angular -->
  <script src="vendor/angular/angular.js"></script>
  
  <script src="vendor/angular/angular-animate/angular-animate.js"></script>
  <script src="vendor/angular/angular-cookies/angular-cookies.js"></script>
  <script src="vendor/angular/angular-resource/angular-resource.js"></script>
  <script src="vendor/angular/angular-sanitize/angular-sanitize.js"></script>
  <script src="vendor/angular/angular-touch/angular-touch.js"></script>
<!-- Vendor -->
  <script src="vendor/angular/angular-ui-router/angular-ui-router.js"></script> 
  <script src="vendor/angular/ngstorage/ngStorage.js"></script>

  <!-- bootstrap -->
  <script src="vendor/angular/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <!-- lazyload -->
  <script src="vendor/angular/oclazyload/ocLazyLoad.js"></script>
  <!-- translate -->
  <script src="vendor/angular/angular-translate/angular-translate.js"></script>
  <script src="vendor/angular/angular-translate/loader-static-files.js"></script>
  <script src="vendor/angular/angular-translate/storage-cookie.js"></script>
  <script src="vendor/angular/angular-translate/storage-local.js"></script>

  <!-- App -->
  <script src="js/app.js"></script>
  <script src="js/config.js"></script>
  <script src="js/config.lazyload.js"></script>
  <script src="js/config.router.js"></script>
  <script src="js/main.js"></script>
  <script src="js/services/ui-load.js"></script>
  <script src="js/filters/fromNow.js"></script>
  <script src="js/directives/setnganimate.js"></script>
  <script src="js/directives/ui-butterbar.js"></script>
  <script src="js/directives/ui-focus.js"></script>
  <script src="js/directives/ui-fullscreen.js"></script>
  <script src="js/directives/ui-jq.js"></script>
  <script src="js/directives/ui-module.js"></script>
  <script src="js/directives/ui-nav.js"></script>
  <script src="js/directives/ui-scroll.js"></script>
  <script src="js/directives/ui-shift.js"></script>
  <script src="js/directives/ui-toggleclass.js"></script>
  <script src="js/directives/ui-validate.js"></script>
  <script src="js/controllers/bootstrap.js"></script>
  <script src="js/controllers/controladorUno.js"></script>
  </body>
</html>